/*coded and created by Georgia Bains*/
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.fade-in {
  opacity: 0;
  -webkit-animation: fadeIn ease-in 1;
  -moz-animation: fadeIn ease-in 1;
  animation: fadeIn ease-in 1;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  animation-duration: 1s;
}
body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
  font-family: 'Work Sans', sans-serif;
  font-size: 20px;
  line-height: 155%;
  font-weight: 300;
  text-decoration: none;
  text-transform: none;
  color: #222;
  background: #fefefe;
}
body a {
  color: #fefefe;
  text-decoration: none;
  border-bottom: 1px solid #fefefe;
  -moz-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
}
body a:hover {
  text-decoration: none;
  color: #ccc;
  border-bottom: 1px solid #ccc;
  -moz-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
}
body bold {
  font-weight: 700;
}
#content {
  top: 0;
  width: 100%;
  min-height: 100%;
  left: 0;
  position: absolute;
}
#content a {
  color: darkgray;
}
#content nav {
  width: calc(100% - 200px);
  padding: 50px 100px;
}
#content nav ul {
  list-style: none;
  margin: auto;
  padding: 0;
}
#content nav ul li {
  display: inline-block;
  margin: 10px 20px 10px 0px;
  font-size: 18px;
  line-height: 40px;
}
#content nav ul li i {
  width: 20px;
  height: 20px;
  line-height: 20px;
  vertical-align: middle;
  text-align: center;
}
#content nav ul li span {
  vertical-align: top;
  margin-left: 10px;
  font-family: 'Cutive Mono', monospace;
}
#content nav ul li span a {
  color: #222;
  padding-bottom: 14px;
  border-bottom: 1px solid #fefefe;
  -moz-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
}
#content nav ul li span a:hover {
  padding-bottom: 4px;
  color: #ccc;
  border-bottom: 1px solid #ccc;
  -moz-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
}
#content nav ul li:hover {
  cursor: pointer;
}
#content section {
  width: calc(100% - 200px);
  height: auto;
  margin: auto;
  padding: 0px 100px;
}
#content h2,
#content h3 {
  margin: 0;
  padding: 0;
}
#content .projects {
  margin-bottom: 20px;
}
#content .projects ul {
  width: 100%;
  list-style: none;
  margin: 40px 0;
  padding: 0;
  text-align: center;
  gutter: 0;
}
#content .projects ul li {
  gutter: 0;
  display: inline-block;
  width: calc(100% / 3 - 40px);
  padding: 0 20px;
  vertical-align: top;
  margin: -2px;
}
#content .projects .project-icon {
	height: 150px;
}
#content .projects ul li img {
  width: 150px;
  height: auto !important;
}
#content .projects ul li h3 {
  font-weight: 400;
  margin: 10px 0;
  font-size: 20px;
}
#content .projects ul li p {
  font-size: 18px;
  min-height: 60px;
}
#content .projects ul li p a {
  text-transform: uppercase;
  border-bottom: 1px solid transparent;
  color: #222;
  font-size: 14px;
  letter-spacing: 2px;
  font-weight: 400;
}
#content .projects ul li p a:hover {
  border-bottom: 1px solid #ccc;
  color: #ccc;
}
#content .projects ul li .role {
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 2px;
  margin: 5px;
  text-transform: uppercase;
}
#content .projects #project_depth .task {
  margin: 25% 0;
}
#content .projects #project_depth .task p.close {
  font-family: 'Cutive Mono', monospace;
}
#content .projects #project_depth .task p.close a {
  color: #222;
  margin-left: 20px;
  padding-bottom: 14px;
  border-bottom: 1px solid #fefefe;
  -moz-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
}
#content .projects #project_depth .task p.close a:hover {
  padding-bottom: 4px;
  color: #ccc;
  border-bottom: 1px solid #ccc;
  -moz-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
}
#content .projects #project_depth .cap img {
  max-width: 100%;
  vertical-align: sub;
}
#content .projects #project_depth .portrait ul {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 100%;
}
#content .projects #project_depth .portrait ul li {
  width: calc(50% - 40px);
  display: inline-block;
}
#content .projects #project_depth .portrait ul li img {
  width: 100%;
  height: auto;
}
#content .credits {
  width: calc(50% - 100px);
  margin: 0 0 60px 0;
}
#content .credits p {
  margin: 0 0 10px 0;
}
#content .credits p a {
  color: #999;
  border-bottom: 1px solid #999;
}
#content .credits p a:hover {
  color: #ccc;
  border-bottom: 1px solid #ccc;
}
#content footer {
  width: calc(100% - 200px);
  height: 30px;
  padding: 40px 100px;
  top: 100%;
  position: absolute;
  bottom: 0;
  font-size: 13px;
  text-align: right;
  text-transform: uppercase;
  letter-spacing: 2px;
  background: #222;
  color: #fefefe;
}
#content footer .links {
  float: left;
  list-style: none;
  margin: 0;
  padding: 0;
}
#content footer .links li {
  display: inline-block;
}
#content footer .links a {
  margin-right: 10px;
  color: #fefefe;
  padding-bottom: 3px;
  border-bottom: 1px solid transparent;
}
#content footer .links a:hover {
  color: #ccc;
  border-bottom: 1px solid #ccc;
}
@media only screen and (max-width: 1060px) {
  #content .projects ul li {
    width: calc(100% / 2 - 40px);
    margin: 0px -2px 40px -2px;
  }
  #content .projects .project-icon {
	height: 130px;
  }
  #content .projects ul li img {
    width: 130px;
    height: auto !important;
  }
  #content .projects ul li h3 {
    height: 30px;
  }
  #content .projects ul li p {
    min-height: 60px;
  }
  #content .credits {
    width: calc(100% - 200px);
  }
}
@media only screen and (min-width: 736px) {
  #content .projects #project_depth .fromTopIn {
    transition: transform 1.0s ease, opacity 1.0s ease;
    transform: translate(0, 0);
    opacity: 1.0;
  }
  #content .projects #project_depth .fromTopOut {
    transition: transform 1.0s ease, opacity 1.0s ease;
    transform: translate(0, -100px);
    opacity: 0.0;
  }
  #content .projects #project_depth .fromLeftIn {
    transition: transform 1.0s ease, opacity 1.0s ease;
    transform: translate(0, 0);
    opacity: 1.0;
  }
  #content .projects #project_depth .fromLeftOut {
    transition: transform 1.0s ease, opacity 1.0s ease;
    transform: translate(-100px, 0);
    opacity: 0.0;
  }
  #content .projects #project_depth .fromRightIn {
    transition: transform 1.0s ease, opacity 1.0s ease;
    transform: translate(0, 0);
    opacity: 1.0;
  }
  #content .projects #project_depth .fromRightOut {
    transition: transform 1.0s ease, opacity 1.0s ease;
    transform: translate(100px, 0);
    opacity: 0.0;
  }
}
@media only screen and (max-width: 735px) {
  body {
    font-size: 16px;
  }
  #content .projects ul li {
    width: calc(100% / 2 - 40px);
    margin: 0px -2px 40px -2px;
  }
  #content .projects .project-icon {
	height: 130px;
  }
  #content .projects ul li img {
    width: 130px;
    height: auto !important;
  }
  #content .projects ul li h3 {
    height: 60px;
  }
  #content .projects ul li p {
    min-height: 80px;
  }
  #content footer {
    font-size: 12px;
    text-align: center;
    height: 150px;
  }
  #content footer .links {
    float: none;
    margin: 0 0 20px 0;
  }
  #content footer .links li {
    display: block;
  }
  #content footer .links a {
    margin-right: 0;
  }
}
@media only screen and (max-width: 600px) {
  #content nav {
    padding: 50px;
  }
  #content section {
    padding: 0 50px;
  }
  #content .projects {
    padding: 0;
    width: calc(100% - 120px);
  }
  #content .projects ul {
    width: 100%;
  }
  #content .projects ul li {
    width: calc(100% - 40px);
    margin: 0 0 40px 0;
  }
  #content .projects .project-icon {
	height: 120px;
	width: auto;
  }
  #content .projects ul li img {
    width: 120px;
    height: auto !important;
  }
  #content .projects ul li h3 {
    font-size: 18px;
    height: 30px;
  }
  #content .projects ul li p {
    font-size: 15px;
    min-height: 50px;
  }
  #content .projects ul li p a {
    font-size: 12px;
  }
  #content .projects ul li .role {
    font-size: 12px;
  }
  #content .credits {
    width: calc(100% - 100px);
  }
}
