/* colour palette

Dark Olive Green: #6D5742
Gainsboro: #E7E4DA
Dark Sea Green: #97A493
Dark Slate Grey: #31F41
Light Grey: #D7D3C7

*/

body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 22px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #444;
    background: #31F41;
    text-decoration: none;
    text-transform: none;
} 

a {
    text-decoration: none;
    text-transform: none;
}

a:hover {
    text-decoration: none;
    text-transform: none;
}

bold {
    font-weight: 700;
}

nav {
    width: 50%;
    top: calc(50% - 40px);
    right: 0;
    margin: 0;
    position: absolute;
}

nav h1 {
    text-transform: uppercase;
    letter-spacing: 6px;
    font-size: 40px;
    color: #313F41;
    line-height: 40px;
    margin: 0;
    padding: 0;
}

nav h2 {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 26px;
    line-height: 40px;
    letter-spacing: 2px;
    overflow: hidden;
    text-align: center;
    color: #97A493;
}

nav h2:before {
    background-color: #97A493;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 50%;
}
nav h2:before {
    right: 0.5em;
    margin-left: -50%;
}

.content {
    width: 50%;
    position: absolute;
    right: 0;
    display: none;
}

section {
    width: calc(100% - 80px);
    right: 0;
    padding: 40px;
}

section h1, h2, h3 {
    font-family: 'Playfair Display', serif;
}